---

---

<!doctype html>
<html lang="en">
  <head>
    <script>
      const slider = document.querySelector(".slider")!;

      // Absolute Y-coordinate of slider in the body.
      const sliderTop =
        slider.getBoundingClientRect().top +
        window.scrollY -
        (window.innerHeight / 2 - slider.getBoundingClientRect().height / 2);

      const onWheel = (e: WheelEvent) => {
        // slider
        const sliderRect = slider.getBoundingClientRect();
        const sliderLastChildRect =
          slider.lastElementChild!.getBoundingClientRect();

        // wheel speed
        const { deltaY } = e;

        const center = window.innerHeight / 2 - sliderRect.height / 2;

        if (
          sliderRect.top <= center &&
          deltaY > 0 &&
          sliderRect.bottom < sliderLastChildRect.bottom
        ) {
          e.preventDefault();
          window.scrollTo(0, sliderTop);
          slider.scrollBy(0, deltaY);
          return;
        }

        if (sliderRect.top >= center && deltaY < 0 && slider.scrollTop > 0) {
          e.preventDefault();
          window.scrollTo(0, sliderTop);
          slider.scrollBy(0, deltaY);
          return;
        }
      };

      document.addEventListener("wheel", onWheel, {
        passive: false,
        capture: true,
      });
    </script>
    <style>
      main {
        margin: auto;
        max-width: 300px;
      }

      section {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 300px;
        width: 100%;
        margin: 32px 0;

        background: #ccc;
        border-radius: 16px;
      }

      .slider {
        display: block;
        overflow-y: scroll;
      }

      .slider-content {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 200px;
        margin: 16px;

        color: #fff;
        background: #222;
        border: 4px #555 solid;
        border-radius: 16px;
      }
    </style>
  </head>
  <body>
    <main>
      <p>Please scroll to the below.</p>
      <b>NOT slider</b>
      <section>dummy content</section>
      <section>dummy content</section>
      <b>slider</b>
      <section class="slider">
        <div class="slider-content">slider content A</div>
        <div class="slider-content">slider content B</div>
        <div class="slider-content">slider content C</div>
        <div class="slider-content">slider content D</div>
      </section>
      <b>NOT slider</b>
      <section>dummy content</section>
      <section>dummy content</section>
    </main>
  </body>
</html>
