<!doctype html>
<html lang="en">
  <head>
    <title>#1 simple vertical scroll</title>
    <style>
      html,
      body {
        height: 100vh;
        overflow: hidden;
        margin: 0;
      }

      main {
        height: 100vh;
        width: 100vw;
        overflow: scroll;

        scroll-snap-type: y mandatory;
      }

      main h1 {
        text-align: center;
      }

      section {
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: center;

        height: 600px;
        width: 100%;
        max-width: 800px;
        margin: 32px auto;

        background: #ccc;
        border-radius: 16px;
        font-size: 24px;
      }

      section.slider {
        display: block;
        overflow: scroll;

        scroll-snap-type: y mandatory;
      }

      section.slider .slider-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 32px;
        width: calc(100% - 64px);
        height: 400px;

        scroll-snap-align: center;

        color: #fff;
        background: #222;
        border: 4px #555 solid;
        border-radius: 16px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>#02 vertical slider</h1>
      <section>section 1</section>
      <section class="slider">
        <div class="slider-content">a</div>
        <div class="slider-content">b</div>
        <div class="slider-content">c</div>
        <div class="slider-content">d</div>
      </section>
      <section>section 3</section>
    </main>
  </body>
</html>
